
/* Navbar general */
.custom-navbar {
  border-radius: 10px;
  margin: 13px;
  padding: 0.5rem 1rem;
  height: 60px !important;
}

.memoriae-logo {
  font-size: 1.6rem !important;   /* fuerza el tamaño */
  font-family: 'Playfair Display', serif;
  margin-left: 75px;
}

/* Fondo blanco y alineado a la derecha cuando colapsa en móvil */
.custom-collapse {
  background-color: transparent;   /* Fondo blanco */
  text-align: right;         /* Texto alineado a la derecha */
  padding: 0.5rem 1rem;      /* Espaciado interno */
  font-family: 'Pixelify Sans', sans-serif;
}


