{% load static %}
<!DOCTYPE html>
<html language="es">

<head>
    <meat charset="UTF-8">
    <meat name="viewpoint" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block styles %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        {% include 'layouts/partials/menu.html' %}
    </header>
    <aside>
        
    </aside>
    <main>
        {% block content %}{% endblock %}
    </main>
    {% block scrips %}{% endblock %}
</body>
</html>