/* Ancho del sidebar */
.custom-offcanvas {
  width: 120px !important; /* ajusta el ancho que quieras */
  max-width: 180px !important; /* asegura que no se expanda */
    background-color: rgba(255, 255, 255, 0) !important; /* semi-transparente */
  backdrop-filter: blur(5px); /* opcional, efecto blur */
  box-shadow: none !important;
  margin-top: 73px;
}

.custom-offcanvas.show {
  left: 70px;
}

/* Opcional: reducir padding de los links dentro del sidebar */
.custom-offcanvas .nav-link {
  padding: 12px 10px;
  font-size: 12px;
}
/* Navbar general */
.custom-navbar {
  border-radius: 10px;
  margin: 13px;
  padding: 0.5rem 1rem;
  height: 60px !important;
}